$Georgia: 'Georgia', serif;
$arial: 'Arial', sans-serif;
$pink: #F1CDB3;
$black: #5B483A;
$white: #CDCDCD;
$dark: #211F20;
$darkness: #262425;
$dark-l :#545454;
$dark-xl: #4C4C4C;
$white-s: #FAFAFA;
$white-l: #F6F6F6;
$white-xs: #FFFFFF;